body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Use min-height instead of height */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-results {
    margin-top: 20px;
}

.search-result-book {
    display: flex;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.search-result-book-img {
    flex: 1;
}

.search-result-book-img img {
    width: 100%;
    height: auto;
}

.search-result-book-details {
    flex: 2;
    padding: 20px;
}

h1 {
    color: #333;
}

.author {
    color: #555;
    font-style: italic;
}

.description {
    margin-top: 10px;
}

.price {
    font-weight: bold;
    color: #e44d26;
}

.buy-now-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-now-button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
    flex-shrink: 0;
    /* Prevents the footer from shrinking */
    /* This ensures the footer stays at the bottom */
}