{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'cart/addtocart.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Chivo&family=Poppins:wght@300;400;500;600;700&family=Rosario:wght@400;700&family=Source+Code+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Cart</title>
</head>

<body>
    <!-- cart items details -->
    <div class="small-container cart-page">
        <h1 style="color: #ff523b; padding-bottom: 20px;">Add To Cart</h1>
        <table>
            <tr>
                <th>Books</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for cart_item in cart_items %}
            <tr>
                <td>
                    <div class="cart-info">
                        {% if cart_item.book.upload %}
                        <img src="{{ cart_item.book.upload }}" alt="{{ cart_item.book.title }}">
                        {% else %}
                        <img src="{{ cart_item.book.thumbnail }}" alt="{{ cart_item.book.title }}">
                        {% endif %}
                        <div>
                            <p>{{ cart_item.book.title }}</p>
                            <small>Price: $ {{ cart_item.book.price }}</small>
                            <br>
                            <a href="{% url 'remove_from_cart' cart_item.book.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td>
                    <form method="post" action="{% url 'update_quantity' cart_item.book.id %}">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="{{ cart_item.quantity }}"
                            data-book-id="{{ cart_item.book.id }}">
                        <button type="submit" class="update-quantity"
                            data-url="{% url 'update_quantity' cart_item.book.id %}">Update</button>
                    </form>
                </td>
                <td>$ {{ cart_item.subtotal|floatformat:2 }} </td>
            </tr>
            {% endfor %}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Total</td>
                    <td>$ {{ total_price|floatformat:2 }}</td>
                </tr>
            </table>
        </div>
        <button class="checkout-btn">Checkout</button>
    </div>
</body>

</html>