* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  width: 100%;
  height: 110vh;
  background-image: url(image/bg.png);
  background-size: cover;
  background-position: center;
}

section nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

section nav:hover {
  background-color: #f8f8f8;
}

section nav .logo img {
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

section nav:hover .logo img {
  transform: scale(1.1);
}

section nav ul {
  list-style: none;
  display: flex;
}

section nav li {
  margin: 0 15px;
}

section nav li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

section nav li a:hover {
  color: #089da1;
}

.view-cart-button {
  color: #ff523b;
}

section nav .nav_search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

section nav .search_input {
  width: 250px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}


section nav .search_button {
  background-color: #089da1;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

section nav .search_input:focus {
  border-color: #089da1;
}

section nav .search_button:hover {
  background-color: #06777f;
}

section nav .social_icon i {
  margin: 0 5px;
  font-size: 18px;
}

section nav .social_icon i:hover {
  color: #089da1;
  cursor: pointer;
}

/* main part code */
section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
}

section .main h1 {
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 25px;
}

section .main h1 span {
  color: #089da1;
}

section .main p {
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 125px;
  left: 25px;
}

section .main .main_tag .main_btn {
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 25px;
  color: #fff;
  text-decoration: none;
}

section .main .main_img img {
  width: 780px;
  height: 630px;
  position: relative;
  top: 90px;
  left: 20px;
}


/* hero_section */

.top-rated-books {
  margin-top: 20px;
}

.top-rated-books h2 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.top-rated-books ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory;
  /* Enable mandatory horizontal scrolling */
}

.top-rated-books li {
  flex: 0 0 calc(25% - 100px);
  /* Adjust the width based on the number of items you want to show per row */
  margin-right: 5px;
  /* Adjust the margin to your preference */
  box-sizing: border-box;
  scroll-snap-align: 0;
  /* Align items to the start of the scroll container */
}

.top-rated-books li:first-child {
  margin-left: 20px;

}

/* Optional: Hide the scrollbar for a cleaner look */
.top-rated-books ul::-webkit-scrollbar {
  display: none;
}



.top-rated-books img {
  max-width: 100%;
  height: 300px;
  /* Set a fixed height for all images */
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.top-rated-books h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.top-rated-books p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.top-rated-books p a.buy-now-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.top-rated-books p a.buy-now-button:hover {
  background-color: #0056b3;
}

/* for footer  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  width: 100%;
  height: 110vh;
  background-image: url(image/bg.png);
  background-size: cover;
  background-position: center;
}

section nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
}

section nav:hover {
  background-color: #f8f8f8;
}

section nav .logo img {
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

section nav:hover .logo img {
  transform: scale(1.1);
}

section nav ul {
  list-style: none;
  display: flex;
}

section nav li {
  margin: 0 15px;
}

section nav li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

section nav li a:hover {
  color: #089da1;
}

section nav .nav_search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

section nav .search_input {
  width: 250px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}




section nav .search_button {
  background-color: #089da1;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

section nav .search_input:focus {
  border-color: #089da1;
}

section nav .search_button:hover {
  background-color: #06777f;
}

section nav .social_icon i {
  margin: 0 5px;
  font-size: 18px;
}

section nav .social_icon i:hover {
  color: #089da1;
  cursor: pointer;
}

/* main part code */
section .main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
}

section .main h1 {
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 25px;
}

section .main h1 span {
  color: #089da1;
}

section .main p {
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 125px;
  left: 25px;
}

section .main .main_tag .main_btn {
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 25px;
  color: #fff;
  text-decoration: none;
}

section .main .main_img img {
  width: 780px;
  height: 630px;
  position: relative;
  top: 90px;
  left: 20px;
}


/* hero_section */

.top-rated-books {
  margin-top: 20px;
}

.top-rated-books h2 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

.top-rated-books ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory;
  /* Enable mandatory horizontal scrolling */
}

.top-rated-books li {
  flex: 0 0 calc(25% - 100px);
  margin-right: 5px;
  box-sizing: border-box;
  scroll-snap-align: 0;
  border: 1px solid #ddd;
  /* Add a border around each book */
  border-radius: 5px;
}

.top-rated-books li:first-child {
  margin-left: 20px;
}

/* Optional: Hide the scrollbar for a cleaner look */
.top-rated-books ul::-webkit-scrollbar {
  display: none;
}



.top-rated-books img {
  max-width: 100%;
  height: 300px;
  /* Set a fixed height for all images */
  width: 100%;
  /* Add this line to ensure the width is 100% */
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.top-rated-books h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
  white-space: nowrap;
  /* Prevent title from wrapping to the next line */
  overflow: hidden;
  /* Hide any overflowed content */
  text-overflow: ellipsis;
  /* Show ellipsis (...) for truncated text */
}

.top-rated-books p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
  white-space: nowrap;
  /* Prevent paragraph from wrapping to the next line */
  overflow: hidden;
  /* Hide any overflowed content */
  text-overflow: ellipsis;
  /* Show ellipsis (...) for truncated text */
}

.top-rated-books p a.buy-now-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.top-rated-books p a.buy-now-button:hover {
  background-color: #0056b3;
}


/* for footer  */

footer {
  margin-top: 25px;
}

.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 195px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
  text-decoration: none;
}

.foot-panel3 {
  background-color: #0f1111;
  color: white;
  height: 55px;
  font-size: 0.7rem;
  text-align: center;
}

.copyright {
  padding-top: 18px;
}

.author {
  background-color: #007185;
  color: palevioletred;
  height: 20px;
  text-decoration: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}