<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Your Bookstore</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Poppins:wght@500&display=swap" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/about_us.css' %}" />
  </head>
  <body>
    <!-- About Us Content -->
    <section class="about-us">
      <div class="container">
        <header>
          <h1>Welcome to BookShelf</h1>
          <p>Your Journey into a World of Stories</p>
        </header>

        <div class="mission">
          <h2>Our Mission</h2>
          <p>
            At BookShelf, our mission is to foster a love for reading by offering
            a wide range of quality books. We believe in the power of stories to
            inspire, educate, and entertain. Our goal is to connect readers with
            captivating books that leave a lasting impact.
          </p>
        </div>

        <div class="team">
          <h2>Meet the Team</h2>
          <div class="team-members">
            <!-- Team Member 1 -->
            <div class="team-member">
              <img src="team_member1.jpg" alt="#" />
              <div class="member-info">
                <h3>Inaph Khadka</h3>
                <p>Book Enthusiast</p>
              </div>
            </div>

            <!-- Team Member 2  -->
            <div class="team-member">
              <img src="team_member2.jpg" alt="#" />
              <div class="member-info">
                <h3>Swecchya Khanal</h3>
                <p>Book Enthusiast</p>
              </div>
            </div>

            <div class="team-member">
              <img src="team_member2.jpg" alt="#" />
              <div class="member-info">
                <h3>Sumina Lamsal</h3>
                <p>Book Enthusiast</p>
              </div>
            </div>

            <div class="team-member">
              <img src="team_member2.jpg" alt="#" />
              <div class="member-info">
                <h3>Avinay Pachhai</h3>
                <p>Book Enthusiast</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2024 BookShelf. All rights reserved.</p>
    </footer>
  </body>
</html>
