{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BookShelf</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section>
    <nav>
      <div class="logo">
        <img src="{% static 'logo.png' %}" />
      </div>

      <ul>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="{% url 'browse_books'%}">Browse</a></li>
        <li><a href="{% url 'featured_books' %}" class="featured-button">Featured</a></li>
        <li><a href="{% url 'new_arrival' %}" class="arrival-button">New Arrivals</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'order:get_recommendation' %}">Recommended Books</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="login_popup">Recommended Books</a></li>
        {% endif %}
        <li><a href="{% url 'order:my_order_list' %}">My Orders</a></li>
        {% if user.is_authenticated %}
        <!-- Display username and logout button if the user is authenticated -->
        <li>
          <span>Welcome, {{ user.username }}</span>
          <a href="{% url 'logout' %}" class="login_popup">Logout</a>
        </li>
        {% else %}
        <!-- Display login button if the user is not authenticated -->
        <li><a href="{% url 'login' %}" class="login_popup">Login</a></li>
        {% endif %}

        <form action="{% url 'search_results' %}" method="GET">
          <div class="nav_search">
            <input type="text" name="q" placeholder="Search in BookShelf" class="search_input" />
            <button type="submit" class="search_button">
              <i class="fa-solid fa-magnifying-glass icon-magnifying-glass"></i>
            </button>
          </div>
        </form>

        <a class="view-cart-button" href="/cart/view/">
          <i class="fa-solid fa-cart-shopping"></i> View Cart
        </a>

      </ul>

    </nav>


    <div class="main">
      <div class="main_tag">
        <h1>Welcome to<br /><span>BookShelf</span></h1>

        <p>
          You are in bookself.com. You can shop in BookShelf for
          variety of books.
        </p>
      </div>

      <div class="main_img">
        <img src="{% static 'book.gif' %}" />
      </div>

  </section>


  <div class="top-rated-books">
    <h2>Top Rated Books</h2>
    <ul>
      {% for book in top_rated_books %}
      <li>
        {% if book.upload %}
        <img src="{{ book.upload.url }}" alt="{{ book.title }}" />
        {% else %}
        <img src="{{ book.thumbnail }}" alt="{{ book.title }}" />

        {% endif %}
        <h3>{{ book.title }}</h3>
        <p>Author: {{ book.authors }}</p>
        <p>Rating: {{ book.average_rating }}</p>
        <p>Price: $ {{ book.price }}</p>
        <p><a href="{% url 'book_detail' book.id %}" class="buy-now-button">View</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <footer>
    <div class="foot-panel1">Get to know us</div>

    <div class="foot-panel2">
      <ul>
        <p>Quick Links</p>
        <a href="/Book/new_arrival/">New Arrivals</a>
        <a href="/Book/featured/">Featured</a>
      </ul>
      <ul>
        <p>About</p>
        <a href="contact/contact/">Contact Us</a>
        <a href="about/">About Us</a>
      </ul>
    </div>

    <div class="foot-panel3">
      <div class="copyright">
        &copy;2023-2030, bookself.com,Inc,or its affiliates
      </div>
    </div>
    <div class="author">
      Created with <i class="fa-solid fa-heart fa-flip"></i> by BookSelf Teams
    </div>
  </footer>

  <script src="script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>