<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register An Account - Your Bookstore</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration.css' %}">
</head>

<body>

    <div class="wrapper">
        <a href="{% url 'home'%}"> <span class="icon_close"><img src="{% static 'cross1.png' %}" height="20px"
                    width="20px" alt="Close"></span></a>

        <div class="registration_form">
            <h2>Register An Account</h2>
            {% if messages %}

            {% for message in messages %}
            {{ message }}
            {% endfor %}

            {% endif %}
            <form action="#" method="post">
                <div class="input_box">
                    <input type="text" placeholder="Username" required name="username" />
                </div>
                <div class="input_box">
                    <input type="text" placeholder="First Name" required name="first_name" />
                </div>
                <div class="input_box">
                    <input type="text" placeholder="Last Name" required name="last_name" />
                </div>

                <div class="input_box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" placeholder="Email Address" required name="email" />
                </div>

                <div class="input_box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" placeholder="Password" required name="password" />
                </div>

                <div class="input_box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" placeholder="Confirm Password" required name="password1" />
                </div>

                {% comment %} <div class="remember_forget">
                    <label><input type="checkbox" />Remember me</label>
                    <a href="#">Forgot Password</a>
                </div> {% endcomment %}

                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <button type="submit" class="submit_button">Register</button>
                </form>


                <div class="login_register">
                    <p>
                        Already have an account?
                        <a href="{% url 'login'%}" class="register_link">Login</a>
                    </p>
                </div>
            </form>
        </div>

</body>

</html>